footer{
    width: 100%;
    height: 10rem;
    background-color:var(--main-hf-color);
    /* margin-top:5rem ; */
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    
    place-items: center;
    /* position: fixed;
    bottom: 0;
    left: 0; */
  
    
    
}
.logo{
    text-transform: uppercase;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    
    
}
.list{
    
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style: none;
    

    a{
        text-decoration: none;
        color: white;
        /* margin-left: 1rem; */
        font-size: larger;
        text-transform: uppercase;
        margin: 0 1rem;
        
        
        
    }
}